*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff5f9e, #8f4fff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
nav{
    height: 78vh;
    width: 55vh;
    background-color: white;
    border-radius: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header i{
    font-size: 25px;
    margin-left: 1vh;
    margin-right: 15vh;
    color: rgb(107, 106, 106);
    padding: 3px;
}
.header i:hover{
    background-color: rgb(214, 210, 210);
    border-radius: 50%;
}
.big{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    background: linear-gradient(135deg, #ff5f9e, #8f4fff);
    border-radius: 50%;
    width: 32.5vh;
    height: 32.5vh;
    margin-left: 12vh;
    animation: spin 15s linear infinite;
}
.img-play{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 3vh;
    border-radius: 50%;

}
.img-play img{
    height: 25vh;
    border-radius: 50%;
    box-shadow: 0 0 15px black;
    animation: spin 12s linear infinite;

}
.text-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-title p{
   margin-bottom: 1vh;
}
.text-title span{
   color: gray;
}

/*---------------*/
/*---icon play---*/
/*---------------*/

.icon-play{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5vh;
}
.icon-play .spen-one i{
    padding: 5.5px;
    border-radius: 50%;
}
.icon-play .spen-one i:hover{
    background-color: rgb(236, 233, 233);
}
.icon-play .spen-two i{
    padding: 8px;
    border-radius: 50%;
}
.icon-play .spen-two i:hover{
    background-color: rgb(236, 233, 233);
}

.icon-play i{
    color: gray;
}
.one-icon i{
    font-size: 30px;
    padding: 1px;
    border-radius: 50%;
}
.one-icon i:hover{
    background-color: rgb(236, 233, 233);
}


/*------------------*/
/*-----sound--------*/
/*------------------*/

/* ---------- Sound Wave ---------- */
.sound-wave {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    margin-top: 4vh;
}

.sound-wave span {
    width: 6px;
    height: 20px;
    background: linear-gradient(180deg, #ff5f9e, #8f4fff);
    border-radius: 10px;
    animation: wave 1s infinite ease-in-out;
}

/* Different animation delays */
.sound-wave span:nth-child(1) { animation-delay: 0s; }
.sound-wave span:nth-child(2) { animation-delay: 0.1s; }
.sound-wave span:nth-child(3) { animation-delay: 0.2s; }
.sound-wave span:nth-child(4) { animation-delay: 0.3s; }
.sound-wave span:nth-child(5) { animation-delay: 0.4s; }
.sound-wave span:nth-child(6) { animation-delay: 0.5s; }
.sound-wave span:nth-child(7) { animation-delay: 0.6s; }

@keyframes wave {
    0% { height: 10px; }
    50% { height: 40px; }
    100% { height: 10px; }
}
